/* Navigation Bar */

header {
  height: inherit;
  background-color: #ffffff !important;
}

.nav--title {
  font-family: 'Bungee Shade', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #222222;
  text-align: center;
  margin-bottom: 1.2rem;
  margin-top: 1.75rem;

}



/* authentication */

.button--login, .button--edit-profile, .button--register {
  margin-top: 1rem;
  text-align: center;
}

.field {
  margin: auto;
  margin-top: 1rem;
  width: 20rem;

}

 #loading--button {
  background-color: black;  
  color: yellow;
}
/* Profile Page */

.profile--heading, .profile--bio {
  margin: 1rem;
}

.profile--username {
  font-family: "Helvetica";
  font-size: 20pt;
}

.authentication-switch {
  margin: 1rem;
}

/* Sessions Page */


/* Session Singup Page */

.session--signup-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.15rem;
  margin-top: 2rem;
  color: #000000;
  text-align: center;
}



/* // <div className="hero">
//   <div className="hero--content">
//     <p className="hero--subtitle">
//       Find a mentor to help achieve your goals and a Master you will
//       become...
//     </p>
//     <h4 className="hero--note">
//       ** As we continue to refine our Beta version, we recommend using
//       Google Chrome for the best experience. Please also allow for some
//       extra time, as server response may be slower than usual during this
//       period. We appreciate your patience and understanding. Improved
//       cross-platform compatibility and performance enhancements are on their
//       way! **
//     </h4>
//   </div>
//   <img className="hero--yoda" src={yoda} alt="the best mentor he is yoda" />
// </div>  */