/* Navigation Bar */

.nav {
  border: red solid 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav--title {
  margin: 0;
  font-size: 45pt;
  font-family: 'Bungee Shade';
  border: red solid 1px;
  padding: 1rem;
  align-self: flex-end;
}

.nav--authentication {
  padding: 1rem;
  border: red solid 1px;
  align-self: center;
}

/* Hero Page */

.hero {
  display: flex;
  justify-content: center;
}

.hero--yoda {
  margin: 2rem;
  border-radius: 9pt;
}

.hero--authentication {
  display: flex;
  justify-content: center;
}